.app__newsletter-inputs {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
}

.app__newsletter {
  padding: 2rem 4rem;
  border: 1px solid var(--color-golden);
  background: var(--color-black);
}

.input-group {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.input-group input,
.input-group select,
textarea {
  flex: 1;
  border: 1px solid var(--color-golden);
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font-base);
  color: var(--color-white);
  padding: 0.75rem 1rem;
  background: var(--color-black);
}

textarea {
  resize: none;
  width: 100%;
}

.input-group button {
  margin-left: auto;
}

@media screen and (max-width: 990px) {
  .input-group {
    flex-direction: column;
  }

  .input-group input,
  .input-group select {
    width: 100%;
  }
}
